* {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

@font-face {
    font-family: 'Naue Machina';
    src: url(/assets/fonts/neue-machina-regular.otf);
}

body {
    background-color: #000;
    color: #fff;
}